/*body{
    
}
.clr {
    clear:both;
    padding:0;
    margin:0;
    width: 200px;
    font-size:0;
    line-height:0;
}*/
.jumbotron {
    padding: 0.2em 0.2em;
    text-align: center;
}
.jumbotron p {
    font-size: 1.2em;
}
.jumbotron .btn {
    padding: 0.5em;
}
